In [24]:
import pandas as pd
import numpy as np
import re
from matplotlib import pyplot as plt

import matplotlib.pyplot as plt

pd.set_option('max.columns', None)

# Import Data

## Import results file

In [25]:
results = pd.read_csv('results.csv', index_col = 0)

results = results[['row', 'plc', 'horseno', 'horse', 'jockey', 'trainer', 'actualwt',
       'declarwt', 'draw', 'lbw', 'runningpos', 'finishtime', 'winodds',
       'date', 'raceno', 'class', 'distance', 'going', 'handicap', 'course',
       'stake', 'venue']]

results.head()

,row,plc,horseno,horse,jockey,trainer,actualwt,declarwt,draw,lbw,runningpos,finishtime,winodds,date,raceno,class,distance,going,handicap,course,stake,venue
0,0,1,10.0,NATURAL EIGHT(S243),C Y Ho,C Fownes,119.0,1037.0,1.0,-,4 3 1,1.10.19,3.5,2015-06-03,1,5,1200,GOOD TO FIRM,MOUNT BUTLER HANDICAP,TURF - A COURSE,575000,Happy Valley
1,0,1,7.0,SOLAR HEI HEI(T242),B Prebble,D J Hall,125.0,1077.0,11.0,-,9 8 1,1.09.06,2.3,2015-06-07,1,4,1200,GOOD TO FIRM,HKU FOUNDATION HANDICAP,TURF - A+3 COURSE,760000,Sha Tin
2,0,1,3.0,GRAN BOLIVAR(S165),H N Wong,Y S Tsui,121.0,950.0,9.0,-,1 1 1,1.09.64,32.0,2015-06-10,1,4,1200,GOOD TO FIRM,LAI ON HANDICAP,TURF - B COURSE,760000,Happy Valley
3,0,1,11.0,PEOPLE'S KNIGHT(T305),G Mosse,J Moore,120.0,1149.0,4.0,-,4 4 1,1.09.70,6.6,2015-06-14,1,1,1200,GOOD TO FIRM,BREGUET PLATE,TURF - B+2 COURSE,800000,Sha Tin
4,0,1,2.0,SIR JOHN(P344),B Prebble,W Y So,131.0,1158.0,10.0,-,1 1 1,0.56.90,6.8,2015-06-17,1,5,1000,GOOD TO FIRM,WANG TAK HANDICAP,TURF - C COURSE,575000,Happy Valley

# Convert data into Date, Venue, Course, and Race No. level

In [26]:
text = 'NATURAL EIGHT(S243)'

pattern = re.compile(r'([\w\W]+)?([\(])([A-Z0-9]+)([\)])')

def extract_horse_code(pattern, text):
#     print(text)
    match = re.match(pattern, text)
    return match.group(3)

In [27]:
results['horse_code'] = results['horse'].apply(lambda x: extract_horse_code(pattern, x))
results.head()

,row,plc,horseno,horse,jockey,trainer,actualwt,declarwt,draw,lbw,runningpos,finishtime,winodds,date,raceno,class,distance,going,handicap,course,stake,venue,horse_code
0,0,1,10.0,NATURAL EIGHT(S243),C Y Ho,C Fownes,119.0,1037.0,1.0,-,4 3 1,1.10.19,3.5,2015-06-03,1,5,1200,GOOD TO FIRM,MOUNT BUTLER HANDICAP,TURF - A COURSE,575000,Happy Valley,S243
1,0,1,7.0,SOLAR HEI HEI(T242),B Prebble,D J Hall,125.0,1077.0,11.0,-,9 8 1,1.09.06,2.3,2015-06-07,1,4,1200,GOOD TO FIRM,HKU FOUNDATION HANDICAP,TURF - A+3 COURSE,760000,Sha Tin,T242
2,0,1,3.0,GRAN BOLIVAR(S165),H N Wong,Y S Tsui,121.0,950.0,9.0,-,1 1 1,1.09.64,32.0,2015-06-10,1,4,1200,GOOD TO FIRM,LAI ON HANDICAP,TURF - B COURSE,760000,Happy Valley,S165
3,0,1,11.0,PEOPLE'S KNIGHT(T305),G Mosse,J Moore,120.0,1149.0,4.0,-,4 4 1,1.09.70,6.6,2015-06-14,1,1,1200,GOOD TO FIRM,BREGUET PLATE,TURF - B+2 COURSE,800000,Sha Tin,T305
4,0,1,2.0,SIR JOHN(P344),B Prebble,W Y So,131.0,1158.0,10.0,-,1 1 1,0.56.90,6.8,2015-06-17,1,5,1000,GOOD TO FIRM,WANG TAK HANDICAP,TURF - C COURSE,575000,Happy Valley,P344

In [33]:
df = pd.pivot_table(results,
               index = ['date','venue','course','raceno'],
               columns = ['draw'],
               values = ['horse_code'],#,'trainer','jockey'],
               aggfunc = max)

df.reset_index(inplace = True)

In [35]:
df = df.droplevel(1, axis = 1)
df.columns = ['date', 'venue', 'course', 'raceno', 'horse_1', 'horse_2', 'horse_3',
      'horse_4', 'horse_5', 'horse_6', 'horse_7', 'horse_8', 'horse_9', 'horse_10',
      'horse_11', 'horse_12', 'horse_13', 'horse_14']

In [37]:
df.dropna()

,date,venue,course,raceno,horse_1,horse_2,horse_3,horse_4,horse_5,horse_6,horse_7,horse_8,horse_9,horse_10,horse_11,horse_12,horse_13,horse_14
8,2015-06-07,Sha Tin,ALL WEATHER TRACK,2,M017,N070,P316,P430,P075,T040,S046,S175,P280,M152,P084,S369,S197,P073
10,2015-06-07,Sha Tin,ALL WEATHER TRACK,8,P169,M376,P181,S066,S388,N014,M021,S023,S306,P425,T115,S234,N379,P184
11,2015-06-07,Sha Tin,TURF - A+3 COURSE,1,S397,P398,T177,P434,S450,P402,T175,N115,T025,T166,T242,T019,S323,T132
12,2015-06-07,Sha Tin,TURF - A+3 COURSE,3,T134,P112,S098,L379,S372,S070,N386,P424,T018,T064,S433,T057,T045,S387
13,2015-06-07,Sha Tin,TURF - A+3 COURSE,4,T014,S275,M339,S044,T093,T170,P111,S167,P038,M347,S415,N309,P414,S221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106,2017-07-16,Sha Tin,TURF - C COURSE,4,T202,V157,V243,S106,V001,S138,A348,V207,T373,V171,A023,V022,A005,P272
1107,2017-07-16,Sha Tin,TURF - C COURSE,5,S414,V039,V244,P151,S147,S379,N248,V403,V263,T108,V213,T105,S388,S100
1109,2017-07-16,Sha Tin,TURF - C COURSE,7,S332,A096,A120,S312,V361,T376,T046,V321,T094,V381,A095,A135,A109,V192
1111,2017-07-16,Sha Tin,TURF - C COURSE,9,A352,A139,P363,V040,A286,A164,A248,A168,A249,T117,S362,A232,A163,V176
1113,2017-07-16,Sha Tin,TURF - C COURSE,11,S298,A098,V186,T371,S358,V214,V099,T375,V411,V372,A183,T396,T242,A041

In [6]:
win = pd.pivot_table(results[results['plc'] == '1'],
               index = ['date','venue','course','raceno'],
               values = ['draw'])

win.reset_index().rename(columns = {'draw':'draw_winner'})

            date         venue           course  raceno  draw_winner
0     2015-06-03  Happy Valley  TURF - A COURSE       1          1.0
1     2015-06-03  Happy Valley  TURF - A COURSE       2          1.0
2     2015-06-03  Happy Valley  TURF - A COURSE       3          1.0
3     2015-06-03  Happy Valley  TURF - A COURSE       4          6.0
4     2015-06-03  Happy Valley  TURF - A COURSE       5          7.0
...          ...           ...              ...     ...          ...
1105  2017-07-16       Sha Tin  TURF - C COURSE       7         11.0
1106  2017-07-16       Sha Tin  TURF - C COURSE       8          1.0
1107  2017-07-16       Sha Tin  TURF - C COURSE       9          7.0
1108  2017-07-16       Sha Tin  TURF - C COURSE      10          8.0
1109  2017-07-16       Sha Tin  TURF - C COURSE      11         13.0

[1110 rows x 5 columns]

In [7]:
# jockey,trainer, horse avg place getting 
results.groupby(['jockey','trainer','horse'])['plc']

temporary_results= results[results['plc'].notna()][results[results['plc'].notna()]['plc'].apply(lambda x: x.isnumeric())].copy()
temp = temporary_results.groupby(['jockey','trainer','horse']).filter(lambda x: len(x)>=6).copy()

temp['plc'] = temp['plc'].apply(lambda x: int(x))
temp
# fig, ax1 = plt.subplots(figsize=(15,7))
# ax1.set_ylabel('place')
# ax1.set_title('Top 24 average place by jokey-trainer-horse,race count>= 6 ')
# temp.groupby(['jockey','trainer','horse'])['plc'].mean().sort_values(ascending=True).head(24).plot.bar()

,row,plc,horseno,horse,jockey,trainer,actualwt,declarwt,draw,lbw,runningpos,finishtime,winodds,date,raceno,class,distance,going,handicap,course,stake,venue,horse_code
1,0,1,7.0,SOLAR HEI HEI(T242),B Prebble,D J Hall,125.0,1077.0,11.0,-,9 8 1,1.09.06,2.3,2015-06-07,1,4,1200,GOOD TO FIRM,HKU FOUNDATION HANDICAP,TURF - A+3 COURSE,760000,Sha Tin,T242
29,0,1,4.0,EASY HEDGE(T409),J Moreira,J Size,127.0,1111.0,11.0,-,2 3 4 1,1.23.43,1.4,2015-12-06,1,4,1400,GOOD,ASHLEY HANDICAP,TURF - C+3 COURSE,800000,Sha Tin,T409
39,0,1,6.0,SPICY SIAM(N090),C Y Ho,D E Ferraris,122.0,1082.0,5.0,-,8 8 7 6 6 1,2.19.49,27.0,2016-01-13,1,5,2200,GOOD,BOWRINGTON HANDICAP,TURF - B COURSE,600000,Happy Valley,N090
40,0,1,4.0,FISH N' CHIPS(T099),M L Yeung,A Lee,124.0,1097.0,1.0,-,8 5 1,0.56.88,15.0,2016-01-17,1,4,1000,GOOD TO YIELDING,CARPENTER HANDICAP,TURF - C+3 COURSE,800000,Sha Tin,T099
48,0,1,7.0,OCEAN ROAR(N317),M L Yeung,A Lee,125.0,1197.0,1.0,-,1 1 1,0.57.61,5.0,2016-02-24,1,4,1000,GOOD,TSUI MAN HANDICAP,TURF - C COURSE,800000,Happy Valley,N317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14038,13,14,3.0,HAPPY ROCKY(S147),B Prebble,A Lee,127.0,1091.0,14.0,12,14 14 14 14,1.36.85,76.0,2017-01-01,9,3,1600,GOOD TO FIRM,LIN FA SHAN HANDICAP,TURF - B+2 COURSE,1235000,Sha Tin,S147
14075,13,14,4.0,DYNAMISM(T188),D Whyte,D E Ferraris,124.0,1142.0,7.0,14-3/4,12 12 8 14,1.39.33,62.0,2016-04-24,10,2,1600,YIELDING,AUDEMARS PIGUET JULES AUDEMARS HANDICAP,TURF - A COURSE,1650000,Sha Tin,T188
14083,13,14,3.0,RENAISSANCE ART(T197),Z Purton,C Fownes,130.0,1105.0,11.0,11-3/4,12 14 14 13 14,1.48.90,22.0,2016-10-23,10,2,1800,GOOD,BULGARI EXCELLENT HANDICAP,TURF - A COURSE,1750000,Sha Tin,T197
14105,13,14,8.0,NO MONEY NO TALK(S404),C Y Ho,D J Hall,120.0,1138.0,13.0,20-1/2,1 1 2 14,1.25.23,99.0,2016-01-01,11,3,1400,GOOD,GRASSY HILL HANDICAP,TURF - B+2 COURSE,1165000,Sha Tin,S404
14109,13,14,5.0,FANTASTIC KAKA(P363),T H So,L Ho,121.0,1112.0,10.0,9-1/4,2 1 2 14,1.35.92,16.0,2016-03-28,11,2,1600,GOOD,PRIMULA HANDICAP,TURF - A+3 COURSE,1650000,Sha Tin,P363

In [8]:
combsize = temp.groupby(['jockey','trainer','horse']).count()[['row']]

In [9]:
combwin = temp[temp['plc']==1].groupby(['jockey','trainer','horse']).count()[['row']]
combwin

                                                 row
jockey    trainer      horse
B Prebble A Lee        BEST JADE TRIUMPH(P070)     1
                       HAPPY ROCKY(S147)           1
          D E Ferraris ROCK THE TREE(P272)         1
                       SHOWING CHARACTER(T289)     1
                       SMART DECLARATION(S436)     1
...                                              ...
Z Purton  P O'Sullivan ARCHIPPUS(P361)             2
                       JOLLY JOLLY(T087)           2
                       LINE SEEKER(S269)           3
                       NAMJONG INVINCIBLE(V154)    1
          W Y So       BRIGHT CONCEPT(S038)        1

[98 rows x 1 columns]

In [10]:
combmerged = pd.merge(combsize,combwin,left_on = ['jockey','trainer','horse'], right_on = ['jockey','trainer','horse'], how = 'left',suffixes=('', '_2'))
combmerged = combmerged.fillna(0)

In [11]:
#win rate by jokey trainer horse for racers participate in 6+ races
combmerged['winrate']=combmerged['row_2']/combmerged['row']
combmerged.sort_values(by='winrate',ascending=False)[['winrate']]

                                              winrate
jockey     trainer     horse
J Moreira  J Moore     RAPPER DRAGON(V082)   0.833333
M L Yeung  Y S Tsui    TIMELY ARRIVED(S431)  0.666667
K K Chiong A T Millard GALLANT ROCK(S240)    0.500000
Y T Cheng  T P Yung    DIAMOND KING(S347)    0.500000
N Callan   C S Shum    SPEEDY LONGWAH(S242)  0.500000
...                                               ...
H T Mo     C S Shum    CELESTIAL NOVA(V045)  0.000000
H N Wong   Y S Tsui    SMART SALUTE(V117)    0.000000
                       LUCKY SEBRING(V091)   0.000000
           W Y So      WIN IT(P032)          0.000000
K C Leung  D Cruz      GLORY HORSIE(M273)    0.000000

[163 rows x 1 columns]

In [12]:

disttemp = temporary_results.copy()
disttemp['plc'] = disttemp['plc'].apply(lambda x: int(x))

## Extracting horse code from the horse name

## Import horse info file

In [13]:
horse_info = pd.read_csv('horse_info.csv', index_col = 0)

horse_info.head()

,horse,country,trainer,colour,sex,owner,import_type,current_rating,start_rating,sire,dam,age
0,()(S259),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(C368),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A BEAUTIFUL(T421),AUS,W Y So,Bay,Gelding,Sandia Yit Lau Ying Lam & Yit Kwok Leung,PP,64.0,58.0,Bushranger,Anfield,6.0
3,A FAST ONE(S424),AUS,D E Ferraris,Bay,Gelding,Samson Yip Yan Tion & David Vrijmoed,PPG,37.0,40.0,Holy Roman Emperor,Detail,6.0
4,A SHIN HIKARI(V614),JPN,NaN,Grey,Horse,Eishindo Co Ltd,VIS,NaN,NaN,Deep Impact,Catalina,NaN

## Extracting horse code from the horse name

In [14]:
horse_info['horse_code'] = horse_info['horse'].apply(lambda x: extract_horse_code(pattern, x))
horse_info.head()

,horse,country,trainer,colour,sex,owner,import_type,current_rating,start_rating,sire,dam,age,horse_code
0,()(S259),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S259
1,(C368),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C368
2,A BEAUTIFUL(T421),AUS,W Y So,Bay,Gelding,Sandia Yit Lau Ying Lam & Yit Kwok Leung,PP,64.0,58.0,Bushranger,Anfield,6.0,T421
3,A FAST ONE(S424),AUS,D E Ferraris,Bay,Gelding,Samson Yip Yan Tion & David Vrijmoed,PPG,37.0,40.0,Holy Roman Emperor,Detail,6.0,S424
4,A SHIN HIKARI(V614),JPN,NaN,Grey,Horse,Eishindo Co Ltd,VIS,NaN,NaN,Deep Impact,Catalina,NaN,V614

In [15]:

#jockey trainer to dictionaries
jockeys = results['jockey'].unique()
jockey_dict = {jockey: number for number, jockey in enumerate(set(jockeys))}
trainers = results['trainer'].unique()
trainer_dict = {trainer: number for number, trainer in enumerate(set(trainers))}

results_1 = results.copy()

results_1['jockey'] = results_1['jockey'].apply(lambda x: str(jockey_dict[x]))
results_1['trainer'] = results_1['trainer'].apply(lambda x: str(trainer_dict[x]))

results_1['combination'] = results_1[['horse_code', 'jockey','trainer']].apply(lambda x: '_'.join(x), axis=1)
results_1 = results_1[results_1['plc'].notna()][results_1[results_1['plc'].notna()]['plc'].apply(lambda x: x.isnumeric())]
results_1['plc'] = results_1['plc'].apply(lambda x: int(x)) # ranking thing
#appearance
results_1['appearance']= results_1.groupby('combination').cumcount()
#count win so far
results_1['win_so_far'] = 0
winning_count = {}
for index, row in results_1.iterrows():
    if winning_count.get(row['combination']):
        results_1['win_so_far'].loc[index] = winning_count[row['combination']]
        if row['plc'] == 1:
            winning_count[row['combination']] += 1
    else:
        if row['plc'] == 1:
            winning_count[row['combination']] = 1

#get info from horse info
info = horse_info.copy().set_index('horse_code')
def get_info(x):
    try:
        country = info.loc[x]['country']
    except:
        country = 'NA'
    try:
        colour = info.loc[x]['colour']
    except:
        colour = 'NA'
    try:
        sex = info.loc[x]['sex']
    except:
        sex = 'NA'
    try:
        age = info.loc[x]['age']
    except:
        age = 'NA'        
    return(country,colour,sex,age)
results_1['country'] = results_1['horse_code'].apply(lambda x: get_info(x)[0])
results_1['colour'] = results_1['horse_code'].apply(lambda x: get_info(x)[1])
results_1['sex'] = results_1['horse_code'].apply(lambda x: get_info(x)[2])
results_1['age'] = results_1['horse_code'].apply(lambda x: get_info(x)[3])

horsedim = results_1[['date','combination','win_so_far','appearance','country','colour','sex','age']].set_index(['date','combination']).reset_index()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [68]:
trainer_dict
jockey_dict
print('yes')

yes

In [16]:
horsedim

,date,combination,win_so_far,appearance,country,colour,sex,age
0,2015-06-03,S243_36_43,0,0,NZ,Bay,Gelding,NaN
1,2015-06-07,T242_17_28,0,0,AUS,Bay,Gelding,6
2,2015-06-10,S165_59_71,0,0,AUS,Bay,Gelding,NaN
3,2015-06-14,T305_61_33,0,0,AUS,Bay,Gelding,5
4,2015-06-17,P344_17_54,0,0,AUS,Bay,Gelding,NaN
...,...,...,...,...,...,...,...,...
13805,2016-10-01,P018_44_43,0,0,NZ,Brown,Gelding,NaN
13806,2016-11-27,S242_87_52,0,0,NZ,Brown,Gelding,7
13807,2017-01-01,S142_73_1,0,0,GB,Bay,Gelding,8
13808,2017-03-05,V381_34_33,0,0,AUS,Brown,Gelding,5
13809,2017-07-16,V411_50_1,0,0,AUS,Brown,Gelding,4

In [29]:
len(set(horse_info['horse_code']).intersection(set(results['horse_code'])))

1790

In [30]:
len(set(horse_info['horse_code']))

3935

In [31]:
len(set(results['horse_code']))

1807

In [43]:
#

In [55]:
pd.DataFrame({'trainer': list(trainer_dict.keys()) , 'id':list(trainer_dict.values()) })
pd.DataFrame({'jockey': list(trainer_dict.keys()) , 'id':list(trainer_dict.values()) })

         jockey  id
0         A Lee   0
1       K W Lui   1
2       M Saito   2
3      C Waller   3
4       K L Man   4
..          ...  ..
72    C Appleby  72
73     A Schutz  73
74  M F de Kock  74
75   G Portelli  75
76       N Hori  76

[77 rows x 2 columns]