In [1]:
import pandas as pd
import numpy as np
import re
from matplotlib import pyplot as plt

import matplotlib.pyplot as plt

pd.set_option('max.columns', None)

# Import Data

## Import results file

In [2]:
results = pd.read_csv('results.csv', index_col = 0)

results = results[['row', 'plc', 'horseno', 'horse', 'jockey', 'trainer', 'actualwt',
       'declarwt', 'draw', 'lbw', 'runningpos', 'finishtime', 'winodds',
       'date', 'raceno', 'class', 'distance', 'going', 'handicap', 'course',
       'stake', 'venue']]

results.head()

,row,plc,horseno,horse,jockey,trainer,actualwt,declarwt,draw,lbw,runningpos,finishtime,winodds,date,raceno,class,distance,going,handicap,course,stake,venue
0,0,1,10.0,NATURAL EIGHT(S243),C Y Ho,C Fownes,119.0,1037.0,1.0,-,4 3 1,1.10.19,3.5,2015-06-03,1,5,1200,GOOD TO FIRM,MOUNT BUTLER HANDICAP,TURF - A COURSE,575000,Happy Valley
1,0,1,7.0,SOLAR HEI HEI(T242),B Prebble,D J Hall,125.0,1077.0,11.0,-,9 8 1,1.09.06,2.3,2015-06-07,1,4,1200,GOOD TO FIRM,HKU FOUNDATION HANDICAP,TURF - A+3 COURSE,760000,Sha Tin
2,0,1,3.0,GRAN BOLIVAR(S165),H N Wong,Y S Tsui,121.0,950.0,9.0,-,1 1 1,1.09.64,32.0,2015-06-10,1,4,1200,GOOD TO FIRM,LAI ON HANDICAP,TURF - B COURSE,760000,Happy Valley
3,0,1,11.0,PEOPLE'S KNIGHT(T305),G Mosse,J Moore,120.0,1149.0,4.0,-,4 4 1,1.09.70,6.6,2015-06-14,1,1,1200,GOOD TO FIRM,BREGUET PLATE,TURF - B+2 COURSE,800000,Sha Tin
4,0,1,2.0,SIR JOHN(P344),B Prebble,W Y So,131.0,1158.0,10.0,-,1 1 1,0.56.90,6.8,2015-06-17,1,5,1000,GOOD TO FIRM,WANG TAK HANDICAP,TURF - C COURSE,575000,Happy Valley

# CAN ANYONE INVESTIGATE ON THIS?

In [3]:
# results['plc'] = results['plc'].apply(int)
results['plc'].unique()
# results.describe()

array(['1', '1 DH', '2', '2 DH', '3', '3 DH', '4', '4 DH', '5', '5 DH',
       '6', '6 DH', '7', 'WV', '7 DH', '8', '8 DH', '9', 'PU', '9 DH',
       '10', 'UR', 'WV-A', '11', 'FE', 'DNF', '12', 'WX', 'TNP', '13',
       nan, 'WX-A', '14'], dtype=object)

# Convert data into Date, Venue, Course, and Race No. level

In [4]:
text = 'NATURAL EIGHT(S243)'

pattern = re.compile(r'([\w\W]+)?([\(])([A-Z0-9]+)([\)])')

def extract_horse_code(pattern, text):
#     print(text)
    match = re.match(pattern, text)
    return match.group(3)

In [5]:
results['horse_code'] = results['horse'].apply(lambda x: extract_horse_code(pattern, x))
results.head()

,row,plc,horseno,horse,jockey,trainer,actualwt,declarwt,draw,lbw,runningpos,finishtime,winodds,date,raceno,class,distance,going,handicap,course,stake,venue,horse_code
0,0,1,10.0,NATURAL EIGHT(S243),C Y Ho,C Fownes,119.0,1037.0,1.0,-,4 3 1,1.10.19,3.5,2015-06-03,1,5,1200,GOOD TO FIRM,MOUNT BUTLER HANDICAP,TURF - A COURSE,575000,Happy Valley,S243
1,0,1,7.0,SOLAR HEI HEI(T242),B Prebble,D J Hall,125.0,1077.0,11.0,-,9 8 1,1.09.06,2.3,2015-06-07,1,4,1200,GOOD TO FIRM,HKU FOUNDATION HANDICAP,TURF - A+3 COURSE,760000,Sha Tin,T242
2,0,1,3.0,GRAN BOLIVAR(S165),H N Wong,Y S Tsui,121.0,950.0,9.0,-,1 1 1,1.09.64,32.0,2015-06-10,1,4,1200,GOOD TO FIRM,LAI ON HANDICAP,TURF - B COURSE,760000,Happy Valley,S165
3,0,1,11.0,PEOPLE'S KNIGHT(T305),G Mosse,J Moore,120.0,1149.0,4.0,-,4 4 1,1.09.70,6.6,2015-06-14,1,1,1200,GOOD TO FIRM,BREGUET PLATE,TURF - B+2 COURSE,800000,Sha Tin,T305
4,0,1,2.0,SIR JOHN(P344),B Prebble,W Y So,131.0,1158.0,10.0,-,1 1 1,0.56.90,6.8,2015-06-17,1,5,1000,GOOD TO FIRM,WANG TAK HANDICAP,TURF - C COURSE,575000,Happy Valley,P344

In [6]:
#results[results['raceno'] == 1].groupby(['course','raceno']).size()

# results[(results['raceno'] == 1) & (results['date'] == '2015-06-03')].groupby(['venue','course']).size()

results.groupby(['date','venue','course','raceno']).size()


results[(results['course'] == 'TURF - A COURSE') & (results['date'] == '2015-06-03') & (results['raceno'] == 2)]

,row,plc,horseno,horse,jockey,trainer,actualwt,declarwt,draw,lbw,runningpos,finishtime,winodds,date,raceno,class,distance,going,handicap,course,stake,venue,horse_code
118,0,1,5.0,ROBUST MOMENTUM(P422),C Y Ho,C Fownes,122.0,1209.0,1.0,-,2 3 2 1,1.40.18,2.5,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,P422
1232,1,2,1.0,AXIOM(P095),A Suborics,A Schutz,129.0,1088.0,12.0,1,10 10 9 2,1.40.34,82.0,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,P095
2346,2,3,11.0,LIGHTNING AND GOLD(P354),W M Lai,C H Yip,114.0,1034.0,11.0,1-1/4,11 11 10 3,1.40.38,27.0,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,P354
3460,3,4,7.0,CHINA DELIGHT(N148),T H So,K W Lui,121.0,1031.0,2.0,1-1/4,12 12 12 4,1.40.38,13.0,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,N148
4574,4,5,2.0,AMAZING ALWAYS(N432),D Whyte,D E Ferraris,125.0,1133.0,7.0,1-1/4,8 7 8 5,1.40.40,6.8,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,N432
5686,5,6,10.0,RED COURAGE(N110),K Teetan,J Size,117.0,1186.0,5.0,2,3 2 3 6,1.40.50,11.0,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,N110
6797,6,7,12.0,DRAGON GLORY(P130),M Chadwick,C W Chang,113.0,1156.0,3.0,2,4 6 4 7,1.40.51,10.0,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,P130
7900,7,8,3.0,CIRCUIT STAR(N220),K C Leung,K L Man,123.0,1054.0,9.0,2,7 8 7 8,1.40.52,30.0,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,N220
9001,8,9,4.0,MAC ROW(N252),M L Yeung,A Lee,122.0,1001.0,8.0,3-3/4,9 9 11 9,1.40.78,9.9,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,N252
10092,9,10,8.0,CONFUCIUS SPIRIT(S329),N Callan,S Woods,120.0,1088.0,4.0,5,6 5 6 10,1.40.98,10.0,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,S329
11166,10,11,6.0,SPIRIT SOARING(N099),N Rawiller,W Y So,124.0,1098.0,6.0,5-1/4,1 1 1 11,1.41.04,10.0,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,N099
12220,11,12,9.0,SOUTHERN SPRINGS(P139),H W Lai,C S Shum,118.0,1112.0,10.0,11-3/4,5 4 5 12,1.42.07,38.0,2015-06-03,2,4,1650,GOOD TO FIRM,MOUNT CAMERON HANDICAP,TURF - A COURSE,760000,Happy Valley,P139

In [7]:
results.groupby(['date','venue','course','raceno']).size().to_frame('count_horse').reset_index()

            date         venue           course  raceno  count_horse
0     2015-06-03  Happy Valley  TURF - A COURSE       1           12
1     2015-06-03  Happy Valley  TURF - A COURSE       2           12
2     2015-06-03  Happy Valley  TURF - A COURSE       3           12
3     2015-06-03  Happy Valley  TURF - A COURSE       4           12
4     2015-06-03  Happy Valley  TURF - A COURSE       5           12
...          ...           ...              ...     ...          ...
1109  2017-07-16       Sha Tin  TURF - C COURSE       7           15
1110  2017-07-16       Sha Tin  TURF - C COURSE       8            8
1111  2017-07-16       Sha Tin  TURF - C COURSE       9           15
1112  2017-07-16       Sha Tin  TURF - C COURSE      10           13
1113  2017-07-16       Sha Tin  TURF - C COURSE      11           14

[1114 rows x 5 columns]

In [8]:
results['trainer'].unique()

array(['C Fownes', 'D J Hall', 'Y S Tsui', 'J Moore', 'W Y So',
       'A Schutz', 'K W Lui', 'P F Yiu', 'T K Ng', 'D Cruz', 'C S Shum',
       'C H Yip', 'K L Man', 'A T Millard', 'C W Chang', 'J Size', 'L Ho',
       "P O'Sullivan", 'D E Ferraris', 'A Lee', 'A S Cruz', 'S Woods',
       'T P Yung', 'R Gibson', "A P O'Brien", 'N Hori', 'M Hawkes',
       'M Sakaguchi', 'A Fabre', 'M Saito', 'J Lau', 'de Royer Dupre',
       'H Fujiwara', 'M Delzangles', 'Y Ikee', 'R Okubo', 'G Enebish',
       'F Rohaut', 'T Tanaka', 'K Lees', 'C Appleby', 'A Bull',
       'G W Moore', 'C Waller', 'Barande-Barbe', 'H Otonashi',
       'S Kunieda', 'P B Shaw', 'W A Ward', 'Y C Fung', 'D A Hayes',
       'M F de Kock', 'K Yoshimura', 'M C Tam', 'K Fujioka', 'J M Moore',
       'Pat Lee', 'Sir M R Stoute', 'M L W Bell', 'E M Lynam',
       'G Portelli', 'R Hannon', 'P Bary', 'T Ozeki', "D O'Meara",
       'W H Tse', 'F Head', "J O'Shea", 'R Fahey', 'K C Chong',
       'D K Weld', 'C Clement', 'E Mader', 'R Heathcote', 'S H Cheong',
       'A de Watrigant', 'K C Wong'], dtype=object)

In [9]:
results['jockey'].unique()

array(['C Y Ho', 'B Prebble', 'H N Wong', 'G Mosse', 'J Moreira',
       'A Suborics', 'M L Yeung', 'N Rawiller', 'D Whyte', 'C Schofield',
       'Z Purton', 'K Teetan', 'G Benoist', 'N Callan', 'S de Sousa',
       'R Moore', 'Y T Cheng', 'T H So', 'O Doleuze', 'K K Chiong',
       'K C Leung', 'M Chadwick', 'C Williams', 'S Clipperton',
       'U Rispoli', 'A Sanna', 'W M Lai', 'C K Tong', 'H W Lai',
       'V Cheminaud', 'T Angland', 'O Bosson', 'M Guyon', 'H T Mo',
       'M F Poon', 'K C Ng', 'E da Silva', 'T Berry', 'A Badel', 'D Lane',
       'R Fourie', 'O Murphy', 'H Bowman', 'G Lerena', 'L Salles',
       'M Demuro', 'C Soumillon', 'Y Take', 'G Schofield', 'K Tosaki',
       'C Murray', 'F Geroux', 'D Oliver', 'M Barzalona', 'L Corrales',
       'P Smullen', 'C Brown', 'N Juglall', 'J McDonald', 'Y Iwata',
       'P-C Boudot', 'O Peslier', 'S Pasquier', 'H Lam', 'R Myers',
       'T Clark', 'S Hamanaka', 'M Ebina', 'Y Kawada', 'B Shinn',
       'B Vorster', 'J Rosario', 'W L Ho', 'C Perkins', "D O'Brien",
       'M Wepner', 'C F Wong', 'V Espinoza', 'C Hayes', 'B Melham',
       'J Doyle', 'R Curatolo', '---', 'D Tudhope', 'T Jarnet', 'G Lee',
       'D Browne', 'D Chong'], dtype=object)

In [10]:
df = pd.pivot_table(results,
               index = ['date','venue','course','raceno'],
               columns = ['draw'],
               values = ['horse_code'],#,'trainer','jockey'],
               aggfunc = max)

df.reset_index(inplace = True)

In [11]:
df = df.droplevel(1, axis = 1)
df.columns = ['date', 'venue', 'course', 'raceno', 'horse_1', 'horse_2', 'horse_3',
      'horse_4', 'horse_5', 'horse_6', 'horse_7', 'horse_8', 'horse_9', 'horse_10',
      'horse_11', 'horse_12', 'horse_13', 'horse_14']

In [12]:
df

,date,venue,course,raceno,horse_1,horse_2,horse_3,horse_4,horse_5,horse_6,horse_7,horse_8,horse_9,horse_10,horse_11,horse_12,horse_13,horse_14
0,2015-06-03,Happy Valley,TURF - A COURSE,1,S243,L251,N186,P331,P175,P204,S075,M406,M255,N359,S150,NaN,NaN,NaN
1,2015-06-03,Happy Valley,TURF - A COURSE,2,P422,N148,P130,S329,N110,N099,N432,N252,N220,P139,P354,P095,NaN,NaN
2,2015-06-03,Happy Valley,TURF - A COURSE,3,S445,N265,M273,N055,S086,P308,T072,P088,N134,N317,T133,T328,NaN,NaN
3,2015-06-03,Happy Valley,TURF - A COURSE,4,T163,S224,P213,S104,S349,N193,S330,S170,L136,S160,S295,N233,NaN,NaN
4,2015-06-03,Happy Valley,TURF - A COURSE,5,S137,P016,P371,P418,T069,S157,S254,P444,P064,N295,M026,S051,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109,2017-07-16,Sha Tin,TURF - C COURSE,7,S332,A096,A120,S312,V361,T376,T046,V321,T094,V381,A095,A135,A109,V192
1110,2017-07-16,Sha Tin,TURF - C COURSE,8,A066,T198,V397,P230,S393,V181,T118,A113,NaN,NaN,NaN,NaN,NaN,NaN
1111,2017-07-16,Sha Tin,TURF - C COURSE,9,A352,A139,P363,V040,A286,A164,A248,A168,A249,T117,S362,A232,A163,V176
1112,2017-07-16,Sha Tin,TURF - C COURSE,10,V118,P396,A337,V235,A006,V256,A217,A257,V250,S419,V379,A287,NaN,NaN
1113,2017-07-16,Sha Tin,TURF - C COURSE,11,S298,A098,V186,T371,S358,V214,V099,T375,V411,V372,A183,T396,T242,A041

In [13]:
win = pd.pivot_table(results[(results['plc'] == '1') | (results['plc'] == '1 DH')],
               index = ['date','venue','course','raceno'],
               values = ['draw'])

win = win.reset_index().rename(columns = {'draw':'draw_winner'})

## Extracting horse code from the horse name

## Import horse info file

In [14]:
horse_info = pd.read_csv('horse_info.csv', index_col = 0)

horse_info.head()

,horse,country,trainer,colour,sex,owner,import_type,current_rating,start_rating,sire,dam,age
0,()(S259),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(C368),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A BEAUTIFUL(T421),AUS,W Y So,Bay,Gelding,Sandia Yit Lau Ying Lam & Yit Kwok Leung,PP,64.0,58.0,Bushranger,Anfield,6.0
3,A FAST ONE(S424),AUS,D E Ferraris,Bay,Gelding,Samson Yip Yan Tion & David Vrijmoed,PPG,37.0,40.0,Holy Roman Emperor,Detail,6.0
4,A SHIN HIKARI(V614),JPN,NaN,Grey,Horse,Eishindo Co Ltd,VIS,NaN,NaN,Deep Impact,Catalina,NaN

## Extracting horse code from the horse name

In [15]:
horse_info['horse_code'] = horse_info['horse'].apply(lambda x: extract_horse_code(pattern, x))
horse_info.head()

,horse,country,trainer,colour,sex,owner,import_type,current_rating,start_rating,sire,dam,age,horse_code
0,()(S259),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S259
1,(C368),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C368
2,A BEAUTIFUL(T421),AUS,W Y So,Bay,Gelding,Sandia Yit Lau Ying Lam & Yit Kwok Leung,PP,64.0,58.0,Bushranger,Anfield,6.0,T421
3,A FAST ONE(S424),AUS,D E Ferraris,Bay,Gelding,Samson Yip Yan Tion & David Vrijmoed,PPG,37.0,40.0,Holy Roman Emperor,Detail,6.0,S424
4,A SHIN HIKARI(V614),JPN,NaN,Grey,Horse,Eishindo Co Ltd,VIS,NaN,NaN,Deep Impact,Catalina,NaN,V614

In [16]:
len(set(horse_info['horse_code']).intersection(set(results['horse_code'])))

1790

In [17]:
len(set(horse_info['horse_code']))

3935

In [18]:
len(set(results['horse_code']))

1807

In [19]:
horse_dim = horse_info[['horse_code','sex','country','age']]

horse_dim

     horse_code      sex country  age
0          S259      NaN     NaN  NaN
1          C368      NaN     NaN  NaN
2          T421  Gelding     AUS  6.0
3          S424  Gelding     AUS  6.0
4          V614    Horse     JPN  NaN
...         ...      ...     ...  ...
3935       S197  Gelding      FR  NaN
3936       A221  Gelding     AUS  4.0
3937       K180  Gelding      GB  NaN
3938       B113  Gelding      NZ  4.0
3939       V335  Gelding     GER  NaN

[3940 rows x 4 columns]

In [20]:
pd.get_dummies(horse_dim['sex'])

      Brown  Colt  Filly  Gelding  Grey  Horse  Mare  Rig  Roan
0         0     0      0        0     0      0     0    0     0
1         0     0      0        0     0      0     0    0     0
2         0     0      0        1     0      0     0    0     0
3         0     0      0        1     0      0     0    0     0
4         0     0      0        0     0      1     0    0     0
...     ...   ...    ...      ...   ...    ...   ...  ...   ...
3935      0     0      0        1     0      0     0    0     0
3936      0     0      0        1     0      0     0    0     0
3937      0     0      0        1     0      0     0    0     0
3938      0     0      0        1     0      0     0    0     0
3939      0     0      0        1     0      0     0    0     0

[3940 rows x 9 columns]

In [21]:
horse_dim.describe()

               age
count  1153.000000
mean      4.932350
std       1.408285
min       2.000000
25%       4.000000
50%       5.000000
75%       6.000000
max      10.000000

## Create dataset for prediction

In [22]:
predmatrix = pd.merge(df, win
    , left_on = ['date','venue','course','raceno']
    , right_on = ['date','venue','course','raceno'])

## Dynamic data frame

In [23]:
len(predmatrix['date'].unique())

137

In [24]:

#jockey trainer to dictionaries
# jockeys = results['jockey'].unique()
# jockey_dict = {jockey: number for number, jockey in enumerate(set(jockeys))}
# trainers = results['trainer'].unique()
# trainer_dict = {trainer: number for number, trainer in enumerate(set(trainers))}

results_1 = results.copy()

# results_1['jockey'] = results_1['jockey'].apply(lambda x: str(jockey_dict[x]))
# results_1['trainer'] = results_1['trainer'].apply(lambda x: str(trainer_dict[x]))

# results_1['combination'] = results_1[['horse_code', 'jockey','trainer']].apply(lambda x: '_'.join(x), axis=1)
results_1 = results_1[results_1['plc'].notna()][results_1[results_1['plc'].notna()]['plc'].apply(lambda x: x.isnumeric())]
results_1['plc'] = results_1['plc'].apply(lambda x: int(x)) # ranking thing
#appearance
results_1['appear_cum']= results_1.groupby('horse_code').cumcount()

results_1['win'] = results_1['plc'].apply(lambda x: 1 if x==1 else 0)
results_1['top3'] = results_1['plc'].apply(lambda x: 1 if x<=3 else 0)
results_1['win_cum']= results_1.groupby('horse_code')['win'].cumsum()-1
results_1['top3_cum']= results_1.groupby('horse_code')['top3'].cumsum()-1
#count win so far
# results_1['win_cum'] = 0
# results_1['top3_cum'] = 0
# winning_count = {}
# top3_count = {}
# for index, row in results_1.iterrows():
#     if winning_count.get(row['horse_code']):
#         results_1['win_cum'].loc[index] = winning_count[row['horse_code']]
#         if row['plc'] == 1:
#             winning_count[row['horse_code']] += 1
#     else:
#         if row['plc'] == 1:
#             winning_count[row['horse_code']] = 1
            
            
# for index, row in results_1.iterrows():
#     if top3_count.get(row['horse_code']):
#         results_1['top3_cum'].loc[index] = top3_count[row['horse_code']]
#         if row['plc'] <= 3:
#             top3_count[row['horse_code']] += 1
#     else:
#         if row['plc'] <=3:
#             top3_count[row['horse_code']] = 1

# #get info from horse info
# info = horse_info.copy().set_index('horse_code')
# def get_info(x):
#     try:
#         country = info.loc[x]['country']
#     except:
#         country = 'NA'
#     try:
#         colour = info.loc[x]['colour']
#     except:
#         colour = 'NA'
#     try:
#         sex = info.loc[x]['sex']
#     except:
#         sex = 'NA'
#     try:
#         age = info.loc[x]['age']
#     except:
#         age = 'NA'        
#     return(country,colour,sex,age)
# results_1['country'] = results_1['horse_code'].apply(lambda x: get_info(x)[0])
# results_1['colour'] = results_1['horse_code'].apply(lambda x: get_info(x)[1])
# results_1['sex'] = results_1['horse_code'].apply(lambda x: get_info(x)[2])
# results_1['age'] = results_1['horse_code'].apply(lambda x: get_info(x)[3])

In [25]:
results_1

,row,plc,horseno,horse,jockey,trainer,actualwt,declarwt,draw,lbw,runningpos,finishtime,winodds,date,raceno,class,distance,going,handicap,course,stake,venue,horse_code,appear_cum,win,top3,win_cum,top3_cum
0,0,1,10.0,NATURAL EIGHT(S243),C Y Ho,C Fownes,119.0,1037.0,1.0,-,4 3 1,1.10.19,3.5,2015-06-03,1,5,1200,GOOD TO FIRM,MOUNT BUTLER HANDICAP,TURF - A COURSE,575000,Happy Valley,S243,0,1,1,0,0
1,0,1,7.0,SOLAR HEI HEI(T242),B Prebble,D J Hall,125.0,1077.0,11.0,-,9 8 1,1.09.06,2.3,2015-06-07,1,4,1200,GOOD TO FIRM,HKU FOUNDATION HANDICAP,TURF - A+3 COURSE,760000,Sha Tin,T242,0,1,1,0,0
2,0,1,3.0,GRAN BOLIVAR(S165),H N Wong,Y S Tsui,121.0,950.0,9.0,-,1 1 1,1.09.64,32.0,2015-06-10,1,4,1200,GOOD TO FIRM,LAI ON HANDICAP,TURF - B COURSE,760000,Happy Valley,S165,0,1,1,0,0
3,0,1,11.0,PEOPLE'S KNIGHT(T305),G Mosse,J Moore,120.0,1149.0,4.0,-,4 4 1,1.09.70,6.6,2015-06-14,1,1,1200,GOOD TO FIRM,BREGUET PLATE,TURF - B+2 COURSE,800000,Sha Tin,T305,0,1,1,0,0
4,0,1,2.0,SIR JOHN(P344),B Prebble,W Y So,131.0,1158.0,10.0,-,1 1 1,0.56.90,6.8,2015-06-17,1,5,1000,GOOD TO FIRM,WANG TAK HANDICAP,TURF - C COURSE,575000,Happy Valley,P344,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14114,13,14,11.0,DISCIPLES TWELVE(P018),K Teetan,C Fownes,119.0,1107.0,1.0,10-1/4,10 11 14,1.10.21,66.0,2016-10-01,11,2,1200,GOOD,BEIJING HANDICAP,TURF - A+3 COURSE,1750000,Sha Tin,P018,8,0,0,-1,1
14115,13,14,10.0,SPEEDY LONGWAH(S242),T H So,C S Shum,124.0,1124.0,13.0,50,14 14 14 14,1.30.08,99.0,2016-11-27,11,2,1400,GOOD,CHEVALIER SENIOR HOUSING HANDICAP,TURF - C COURSE,1750000,Sha Tin,S242,13,0,0,3,6
14116,13,14,12.0,MARVEL TRIBE(S142),K C Ng,K W Lui,110.0,1118.0,2.0,14-1/4,3 7 14,1.11.22,99.0,2017-01-01,11,2,1200,GOOD TO FIRM,TAI MO SHAN HANDICAP,TURF - B+2 COURSE,1750000,Sha Tin,S142,8,0,0,-1,-1
14117,13,14,13.0,LET US WIN(V381),K K Chiong,J Moore,108.0,1111.0,3.0,17,4 1 1 4 14,1.49.18,70.0,2017-03-05,11,2,1800,GOOD TO FIRM,TAIPA HANDICAP,TURF - C COURSE,1750000,Sha Tin,V381,4,0,0,-1,-1
14118,13,14,5.0,CHIMBORAA(V411),A Sanna,K W Lui,120.0,1214.0,9.0,32-1/2,13 14 14 14,1.28.15,97.0,2017-07-16,11,2,1400,GOOD TO YIELDING,THE HONG KONG RACEHORSE OWNERS ASSOCIATION TRO...,TURF - C COURSE,1750000,Sha Tin,V411,0,0,0,-1,-1

In [26]:
results_2 = results_1[['date','horse_code','appear_cum','win_cum','top3_cum','class']]

In [27]:
results_2['class_change'] = results_2.groupby('horse_code')['class'].apply(pd.Series.diff)
results_2['win_rate'] = results_2['win_cum']/results_2['appear_cum'] 
results_2['top3_rate'] = results_2['top3_cum']/results_2['appear_cum']

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
results_2['win_rate_pct_change'] = results_2.groupby('horse_code')['win_rate'].apply(pd.Series.pct_change)
results_2['top3_pct_change'] = results_2.groupby('horse_code')['top3_rate'].apply(pd.Series.pct_change)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
horse_dynamic = results_2.copy()

horse_dynamic = horse_dynamic.fillna(0)

nohorse = pd.DataFrame([[date,'N/A',0,0,0,0,0,0,0,0,0] for date in horse_dynamic['date'].unique()],columns = ['date', 'horse_code', 
                                                                                                            'appear_cum', 'win_cum',
                                                                                                            'top3_cum', 'class',
                                                                                                            'class_change', 'win_rate', 
                                                                                                            'top3_rate', 'win_rate_pct_change',
                                                                                                            'top3_pct_change'])

horse_dynamic = pd.concat([horse_dynamic,nohorse])

In [31]:
horse_dynamic.to_csv('horse_dynamic_dim.csv')
horse_dynamic

,date,horse_code,appear_cum,win_cum,top3_cum,class,class_change,win_rate,top3_rate,win_rate_pct_change,top3_pct_change
0,2015-06-03,S243,0,0,0,5,0.0,0.0,0.0,0.0,0.0
1,2015-06-07,T242,0,0,0,4,0.0,0.0,0.0,0.0,0.0
2,2015-06-10,S165,0,0,0,4,0.0,0.0,0.0,0.0,0.0
3,2015-06-14,T305,0,0,0,1,0.0,0.0,0.0,0.0,0.0
4,2015-06-17,P344,0,0,0,5,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
132,2015-09-23,N/A,0,0,0,0,0.0,0.0,0.0,0.0,0.0
133,2016-11-20,N/A,0,0,0,0,0.0,0.0,0.0,0.0,0.0
134,2017-06-18,N/A,0,0,0,0,0.0,0.0,0.0,0.0,0.0
135,2016-05-14,N/A,0,0,0,0,0.0,0.0,0.0,0.0,0.0
136,2017-02-19,N/A,0,0,0,0,0.0,0.0,0.0,0.0,0.0